/*
Arquivo de imports

Esse é o arquivo que é usado pelo compilador de sass para gerar o CSS.

São 7 pastas, cada pasta tem sua utilidade no projeto
Dentro de cada pasta há um ou mais arquivos
Todos os arquivos devem ser .scss e começar com um underscore (ex: base/_reset.scss)

Overview básico:

Base       : Resets, tipografia, @keyframes, etc.
Layout     : Header, footer, sidebar, coisas que se repetem nas views
Components : Componentes pequenos como cards, botões, etc. Que são usados através de todo o projeto.
Pages      : Código específico para páginas (ex: sua home foge do padrão, então código específico vai aqui)
Themes     : (Opcional) Modificam levemente o visual de todo o site
Abstracts  : Coisas específicas do sass, helpers, funções, mixins. tudo que vai aqui não deveria ser compilado pelo sass
Vendors    : Código de terceiros (bootstrap/foundation/bulma/etc.)
*/

// ========= Abstracts =========
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

// ========= Vendors =========
@import 'vendors/bulma/bulma';
//@import 'vendors/jquery-ui';

// ========= Base =========
//@import 'base/reset';
@import 'base/custom';

// ========= Layout =========
// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';

// ========= Components =========
@import 'components/ranking';

// ========= Pages =========
// @import 'pages/home';

// ========= Themes =========
// @import 'themes/theme';