@import url('https://rsms.me/inter/inter-ui.css');

$body-background-color: #f4f4f4;
$body-family: 'Inter UI', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$card-shadow: 0 1.5rem 1.5rem -1.25rem rgba(10,10,10,.05)